.profile__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    padding: 0;
    margin-left: 30px;
    border: solid 1px red;
}