.profile__info {
    display: grid;
    grid-template-areas:
        "profile__username profile__btn-edit"
        "profile__description .";
    gap: 16px 18px;
    margin-left: 30px;
    align-items: end;
}