.popup__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 358px;
}

@media screen and (max-width: 600px) {
    .popup__section {
        width: 282px;
    }
}